.logo{
    height: 70px;
    margin-left: 60px;
    margin-top: 3px;
    background-color: grey;
}
.bck{
    display: flex;
    height: 72px;
    border: 2px solid black;
    background-color: rgb(32, 32, 32);
}
.background{
    margin-top: 0%;
    background-color: black;
    height: 40px;
    width: 100%;
border: 1px solid black;
}
.in{
    display: flex;
   
}
.item{
    margin: 20px;
    color: white;
    position: relative;
    left:200px;
  font-family: "Stack Sans Notch", sans-serif;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.item:hover{
   text-decoration: underline;
}
.over{
    display: flex;
    font-size: 20px;
    text-align: center;
    color: white;
    position: absolute;
    left: 180px;
    top: 2080px;
      font-family: "Stack Sans Notch", sans-serif;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.myn{
    padding-left: 178px;
}
.mine{
    font-size: 20px;
    font-weight: 5px;
}
.talah{
    padding-left: 220px;
}
.yo{
    /* letter-spacing: 5px; */
    display: flex;
    font-size: 30px;
    text-align: center;
    color: white;
    position: absolute;
    left: 220px;
    top: 2485px;
    font-family: "Stack Sans Notch", sans-serif;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.to{
    display: flex;
    font-size: 30px;
    text-align: center;
    color: white;
    position: absolute;
    left: 220px;
    top: 3585px;
    font-family: "Stack Sans Notch", sans-serif;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.jo{
    display: flex;
    font-size: 30px;
    text-align: center;
    color: white;
    position: absolute;
    left: 670px;
    top: 4585px;
    font-family: "Stack Sans Notch", sans-serif;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.plus{
    position: absolute;
    bottom: 50px;
    right: 50px;
    border: 2px white;
    color: black;
    width: 50px;
    border-radius: 50%;
    /* font-weight: 0.5px; */
    background-color: white;
}
.po{
    letter-spacing: 3px;
    display: flex;
    font-size: 40px;
    text-align: center;
    color: white;
    position: absolute;
    left: 480px;
    top: 4745px;
    font-family: "Stack Sans Notch", sans-serif;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.ho{
    display: flex;
    font-size: 30px;
    text-align: center;
    color: white;
    position: absolute;
    left: 185px;
    top: 965px;

}
.plug{
    position: absolute;
    bottom: 35px;
    left:65px;
    border: 2px white;
    color: black;
    width: 48px;
    border-radius: 50%;
    font-weight: 0.5px;
    background-color: white;
}
.no{
    display: flex;
    font-size: 30px;
    text-align: center;
    color: white;
    position: absolute;
    left: 220px;
    top: 5885px;
    font-family: "Stack Sans Notch", sans-serif;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.so{
        display: flex;
    font-size: 30px;
    text-align: center;
    color: white;
    position: absolute;
    left: 220px;
    top: 7085px;
    font-family: "Stack Sans Notch", sans-serif;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.io{
    display: flex;
    font-size: 25px;
    text-align: center;
    color: white;
    position: absolute;
    letter-spacing: 3px;
    left: 95px;
    top: 8545px;
    font-family: "Stack Sans Notch", sans-serif;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.button{
    position: absolute;
    top: 8670px;
    left: 90px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 12px;
    /* border: 2px rgb(209, 12, 12); */
}
.button:hover{
    background-color: green;
}